/* Header Styles */
.header {
    background-color: #1a1a1a; /* Dark background */
    color: #f5f5f5; /* Light text */
    display: flex;
    align-items: center; /* Align items vertically */
    justify-content: space-between; /* Space items evenly */
    padding: 10px 20px;
    border-bottom: 2px solid #333333; /* Subtle border */
    position: sticky; /* Stick to the top */
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); /* Subtle shadow */
}

/* Logo styles */
.header .logo img {
    height: 50px; /* Logo height */
    width: auto; /* Maintain aspect ratio */
}

/* Navigation links */
.header .opciones {
    display: flex;
    gap: 15px; /* Space between links */
}

/* Navigation link styles */
.header .opciones a {
    font-family: 'Roboto', sans-serif;
    color: #f5f5f5;
    text-decoration: none;
    font-weight: bold;
    padding: 15px;
    transition: color 0.3s ease;
}

.header .opciones a:hover {
    color: #ff5722;
}

/* Mobile menu styles */
.menu-toggle {
    display: none; /* Hidden on larger screens */
    background: none;
    border: none;
    color: #f5f5f5;
    font-size: 24px;
    cursor: pointer;
}

/* Dropdown */
.dropdown {
    position: relative; 
    display: inline-block;
}

.dropdown-toggle {
    font-family: 'Roboto', serif; 
    background: none;
    border: none;
    color: #f5f5f5;
    font-size: 1rem;
    cursor: pointer;
    padding: 17px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.dropdown-toggle:hover {
    color: #ff5722; 
}

/* Dropdown menu styles */
.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%; 
    left: 0;
    background-color: #1a1a1a; 
    border: 1px solid #333; 
    border-radius: 4px;
    min-width: 200px;
    z-index: 1000;
    list-style: none; 
    margin: 0;
    padding: 10px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
}

.dropdown-menu li {
    padding: 5px 20px;
}

.dropdown-menu li a {
    font-family: 'Roboto', serif; 
    color: #f5f5f5;
    text-decoration: none;
    display: block;
    transition: background 0.3s ease, color 0.3s ease;
}

.dropdown-menu li a:hover {
    background: #333;
    color: #ff5722;
}

.dropdown.show .dropdown-menu {
    display: block; 
}

/* Show hamburger menu on smaller screens */
@media (max-width: 768px) {
    .menu-toggle {
        display: block; /* Show hamburger button */
    }


    .opciones {
        display: none; /* Hide navigation links by default */
        /* flex-direction: column;  */
        position: absolute;
        background-color: #1a1a1a; 
        top: 100%;
        right: 0;
        width: 100%;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
        transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
        opacity: 0;
        transform: translateY(-10px); 
    }

    .opciones.show {
        flex-direction: column;
        padding: 20px;
        display: flex; 
        opacity: 1;
        transform: translateY(0);
    }
}
